# Local virtual environments
venv/
.venv/

# Python cache & metadata
__pycache__/
*.pyc
*.pyo
.git/
.pytest_cache/

# Local data and development bloat
data/
dist/
build/
tests/
"old scripts/"

# Build artifacts
CogMo.spec
analyses.ptx
README.md
setup.py
requirements_mac.txt
requirements_windows.txt
requirements.in